celerybeat-schedule
trial.py
win_local.bat
/venv
.vscode
.env
.DS_Store
*.py[cod]
/fast-api/__pycache__

**/__pycache__/ 
parseQuery_WIP.ipynb
.DS_Store

# saved weather extractions stuff here
/pickles

# for uj local
ec2.bat
dcub.bat
dcub.sh