celerybeat-schedule
dcub.bat
trial.py
win_local.bat
/venv
.vscode
.env
*.py[cod]
/fast-api/__pycache__

**/__pycache__/ 
/config/database.py
parseQuery_WIP.ipynb
mongo.ipynb

# UJ uses this to connect to ssh ec2.
ec2.bat